{% extends 'base.html' %}
{% block content %}
<h2>Your Blood Tests</h2>
<table border="1">
    <tr>
        <th>Date</th>
        <th>Test Name</th>
        <th>Value</th>
        <th>Normal Range</th>
        <th>Status</th>
    </tr>
    {% for test in tests %}
    <tr>
        <td>{{ test.date.strftime('%Y-%m-%d') }}</td>
        <td>{{ test.test_name }}</td>
        <td>{{ test.value }} {{ test.unit }}</td>
        <td>{{ test.normal_min }} - {{ test.normal_max }} {{ test.unit }}</td>
        <td>
            {% if test.normal_min <= test.value <= test.normal_max %}
                Normal
            {% else %}
                Out of Range
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
