django
dj-database-url
gunicorn

psycopg2-binary>=2.9.0
pdf2image
pytesseract
pdfplumber
thefuzz
python-Levenshtein

# Authentication & Profiles
django-allauth[socialaccount]
django-otp
qrcode
Pillow

# Wearable Integrations
requests
requests-oauthlib
