{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Your Blood Tests</h2>
{% if tests %}
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Test Name</th>
        <th>Value</th>
        <th>Normal Range</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
      <tr>
        <td>{{ test.date.strftime('%Y-%m-%d') }}</td>
        <td>{{ test.test_name }}</td>
        <td>{{ test.value }} {{ test.unit }}</td>
        <td>{{ test.normal_min }} - {{ test.normal_max }} {{ test.unit }}</td>
        <td>
          {% if test.normal_min <= test.value <= test.normal_max %}
            <span class="badge badge-success">Normal</span>
          {% else %}
            <span class="badge badge-danger">Out of Range</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <!-- Below the existing table or wherever appropriate -->
<h3 class="mt-5">View Trends</h3>
<ul>
  {% for test in test_types %}
  <li>
    <a href="{{ url_for('chart', test_name=test) }}">{{ test }} Trends</a>
  </li>
  {% endfor %}
</ul>

{% else %}
  <p>No tests available. <a href="{{ url_for('add_test') }}">Add a new test</a>.</p>
{% endif %}
{% endblock %}
